<mat-grid-list cols="1" class="container">
  <mat-card>
    <ng-template #loadingData>
      <div class="loading-content">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
    <ng-container *ngIf="comic && !isLoading else loadingData">
      <mat-card-title class="title-content">
        <div>
          {{comic?.title}}
        </div>
        <app-rating-list></app-rating-list>
      </mat-card-title>
      <mat-card-subtitle class="subtitle-content">
      </mat-card-subtitle>
      <mat-card-content class="comic-content">
  
        <img [src]="comic.img" alt="test">
      </mat-card-content>
      <mat-card-actions class="actions-content">
        <button color="primary" mat-raised-button (click)="loadNewComic()">Cargar nuevo comic</button>
      </mat-card-actions>
    </ng-container>
  </mat-card>
</mat-grid-list>
